.flex {
  display: flex;
}

.fx-jc-c {
  display: flex;
  justify-content: center;
}

.fx-jc-sb {
  display: flex;
  justify-content: space-between;
}

.fx-ai-c {
  display: flex;
  align-items: center;
}
