@font-face {
  font-family: "SFPro-Light";
  src: url(../fonts/SFProDisplay-Light.woff2);
}

@font-face {
  font-family: "SFPro-Regular";
  src: url(../fonts/SFProDisplay-Regular.woff2);
}

@font-face {
  font-family: "SFPro-Medium";
  src: url(../fonts/SFProDisplay-Medium.woff2);
}

@font-face {
  font-family: "SFPro-Bold";
  src: url(../fonts/SFProDisplay-Bold.woff2);
}
